# Folders
.idea/
.vs/
.vscode/
Data/
data/
build/
dist/
env/
pyinstaller/
venv/
*__pycache__*
*.ipynb_checkpoints*
*.pytest_cache*

# Files
*.cer
*.csv
*.db
*.dcm
*.exe
*.h5
*.iss
*.jpg
*.json
*.mp4
*.npy
*.pdf
*.png
*.pyc
*.spec
*.txt
*.xlsx
build*.bat

# To override for a certain file,
# prefix the line with "!"
# For example, to allow git to track
# a figure named Figures/setup.png, add the line
# !Figures/setup.png
!sample.mp4
